<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-slate-100 font-['Inter']">
    <!-- block header -->
    {% block header %}
    {% endblock %}

    <main class="container mx-auto flex flex-col h-screen justify-center items-center">
    {% block content %}

    {% endblock %}
    </main>

    <!-- block footer -->
    {% block footer %}
    <footer class="flex justify-center">
        <small class="grow text-xs text-center text-gray-500">Made with <i class="fas fa-heart"></i> by <a class="text-blue-600 visited:text-purple-600" href="https://twitter.com/karvanpy">@karvanpy</a></small>
    </footer>
    {% endblock %}
</body>
</html>
